<html>
    <head>
        {% if title %}
        <title>{{ title }} - Crowd Sourced Ag Data</title>
        {% else %}
        <title>Crowd Source Ag Data</title>
        {% endif %}
    </head>
    <body>
        <h1>Welcome! This is the homepage for Farmer SMS! </h1>
	<p>This is an SMS service created by UMN Hackers at Minnnehack 2019.</p>
	<p>This service provides weather updates and general services for people in rural areas who lack access to internet!</p>
	<p>Please text +7045869102 for our services <3 </p>
    </body>
</html>
